<div *ngIf="retrieved" class="container-fluid">
  <h1>Results</h1>
  <app-posts [posts]="posts" ></app-posts>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="form-box">
            <h1>Hello, welcome to indeed job extraction api.</h1>
            <h1>Finding postings is free and easy.</h1>
            <br>
            <form [formGroup]="myForm" (ngSubmit)="getIndeedData()">
                <div class="form-group">
                <span class="rule">Query</span>
                    <input 
                        placeholder="query"
                        type="text"
                        id="query"
                        class="form-control"
                        formControlName="query">
                </div>
                <div class="form-group">
                <span class="rule">Location. (use Postal code or a "city, state/province/region" combination)</span>
                    <input 
                        placeholder="location"
                        type="text"
                        id="location"
                        class="form-control"
                        formControlName="location">
                </div>
                <div class="form-group">
                <span class="rule">Sort By</span>
                      <select
                        id="sort"
                        class="form-control"
                        formControlName="sort">
                          <option>relevance</option>
                          <option>date</option>
                      </select> 
                </div>
                <div class="form-group">
                <span class="rule">Radius (in miles)</span>
                    <input 
                        placeholder="radius"
                        type="text"
                        id="radius"
                        class="form-control"
                        formControlName="radius">
                </div>
                <div class="form-group">
                <span class="rule">Start at (start results at this number beginning is 0)</span>
                    <input 
                        placeholder="start"
                        type="text"
                        id="start"
                        class="form-control"
                        formControlName="start">
                </div>
                <div class="form-group">
                <span class="rule">Limit (number of results)</span>
                    <input 
                        placeholder="limit"
                        type="text"
                        id="limit"
                        class="form-control"
                        formControlName="limit">
                </div>
                <div class="form-group">
                <span class="rule">From age (number of days back to search)</span>
                    <input 
                        placeholder="fromage"
                        type="text"
                        id="fromage"
                        class="form-control"
                        formControlName="fromage">
                </div>
                <div class="form-group">
                <span class="rule">Site Type</span>
                      <select
                        id="sitetype"
                        class="form-control"
                        formControlName="sitetype">
                          <option>jobsite</option>
                          <option>employer</option>
                      </select> 
                </div>
                    <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="!myForm.valid">Submit</button>
                </form>
                <br>
                 <p>Enter and Go! <span class="get-data" (click)="getIndeedData()">Show me the results.</span></p>
            </div>
    </div>
</div>