<div class="header-row">
  <span class="heading index">Index</span>
  <span class="heading title">Title</span>
  <span class="heading city">City</span> 
  <span class="heading company">Company</span>
  <span class="heading description">Description</span>
  <span class="heading url">url</span>
</div>

<div class="data-row" *ngFor="let post of posts; let i = index" [ngStyle]="getBackgroundStyle(i)" >
  <span class="datum index">{{ i + 1 }}</span>
  <span class="datum title">{{ post.jobtitle }}</span>
  <span class="datum city">{{ post.city }}</span>
  <span class="datum company">{{ post.company }}</span>
  <span class="datum description">"{{ post.description }}"</span>
  <span class="datum url">{{ post.url }}</span>
</div>