.header-row {
    display: flex;
}

.data-row {
    display: flex;
}

.datum {
    padding: .2rem .3rem;
}

.datum:hover {
    background-color: #E5E8E8;
    cursor: pointer;
}

.index {
    flex-basis: 2%;
    text-align: center;
}

.title {
    flex-basis: 6%;
}

.city {
    flex-basis: 6%;
}

.company {
    flex-basis: 6%;
}

.description {
    flex-basis: 45%;
    font-size: 0.5rem;
}

.url {
    flex-basis: 15%;
    font-size: 0.7rem;
}

.heading {
    font-size: 1.1rem;
    font-weight: 600;
}
